language: objective-c
osx_image: xcode9.3
branches:
  only:
  - master
  - develop
  - /^v\d+\.\d+(\.\d+)?(-\S*)?$/
cache:
  directories:
    - $HOME/Library/Caches/org.carthage.CarthageKit/dependencies
    - Carthage
    - vendor/bundle
xcode_workspace: RxCocoaNetworking.xcworkspace

before_install:
  - bundle install --path vendor/bundle
  - brew uninstall carthage
  - HOMEBREW_NO_AUTO_UPDATE=1 brew install https://raw.githubusercontent.com/Homebrew/homebrew-core/45dd24d8dfa7a2fb69812c678ceb34be0c16e295/Formula/carthage.rb # 0.29.0

script:
  - script/build

matrix:
  include:
    - stage: prepare carthage cache
      script:
        - carthage bootstrap --no-use-binaries --cache-builds
    - stage: logic tests
      xcode_scheme: RxCocoaNetworking-macOS
      after_success:
        - bash <(curl -s https://codecov.io/bash)
    - xcode_scheme: RxCocoaNetworking-iOS
    - xcode_scheme: RxCocoaNetworking-tvOS
    - xcode_scheme: RxCocoaNetworking-watchOS
    - stage: Danger
      script: bundle exec danger
    - stage: package manager tests
      script:
      - bundle exec pod repo update
      - bundle exec pod lib lint --allow-warnings # while RxSwift doesn't fix a warning
      env:
        - JOB=PODSPEC
    - os: osx
      language: generic
      script:
        - swift build
        - swift test
      env:
        - JOB=SWIFTPM_DARWIN
    - script:
        - carthage build --cache-builds --no-skip-current --platform macOS
    - script:
        - carthage build --cache-builds --no-skip-current --platform iOS
    - script:
        - carthage build --cache-builds --no-skip-current --platform tvOS
    - script:
        - carthage build --cache-builds --no-skip-current --platform watchOS
    - stage: Deploy GitHub
      script: skip
      before_deploy:
        - carthage build --no-skip-current --cache-builds
        - carthage archive RxCocoaNetworking
      deploy:
        - provider: releases
          api_key:
            secure: TpLgXHD+SBT0JY8uo9FUBOtmeS3LC5A9EC1hxlnZRIXU1oMJ1VzhYCdiqQ7xRcFp9FngUc2XRWvHbXtzIx6YKuHd0/jAKZ5XFn8otwkrOpxYnZu3/I+xMlpKFeAoGEH2ILJlSQeglpYD/0Utd+EgkaAHs62143eAbiMoJvepEMOqRYzorpRTLd5aV+bYEXoggFmGOXy6SLTSIMHs/7mietIn0Fj9VD7BJej7Vazehzy3vd21rhrYHU5faJQjyx6oZ/Lx76fjLMozFpj6Bmq5jnyLdRk7UdvJxerfuT589QVHHlUuveJgMhUw0udz2qWn/dZXSlQANBjGy856Y6fdUUUcR31jfM+o8KR9WwW09Iq2jLmnQHKs2Qe5qnrQ6/FZS7zcxokE7sbOZ8rK8zU+i/DYistKfXI/B54vItqaq62VYFQGsmKjJdlMcwe3hDOEjsv3vHWtohngWi6JeuVuVRx0+yxIJZRhnkz3JSWA9UturlEdS0kN1jnuBm8tPFr1CF80YOKnFpltlm3LmTdYwn9//OS6PhVJT+nbZaW7aiLHUWf+7b95WRr8Bw+tGE8y/UgoS6LN5AByVLPcYfzF0JNEWAJtxXzlOTt5fXbD3N43exoC1gLBgR3bhs7uoOziYuRIWl3VmTuXIJbkPP7c5R3/sVdFNpcVP4hc8q/S+Cg=
          file:
            - RxCocoaNetworking.framework.zip
          skip_cleanup: true
          overwrite: true
          on:
            repo: gobetti/RxCocoaNetworking
            tags: true
    - stage: Deploy Cocoapods
      script: skip
      env:
        - JOB=PODSPEC
      deploy:
        - provider: script
          script: bundle exec pod trunk push --allow-warnings # while RxSwift doesn't fix a warning
          skip_cleanup: true
          on:
            tags: true
